body {
	margin: 0px;
	font-family: Verdana, sans-serif;
}
nav, main {
	background-color: #ffe;
}
.nav-link {
	height: 30px;
	border: 1px solid #666;
	border-left: none;
	border-right: none;
	margin: -1px 0;
	padding: 5px 10px;
}
.nav-link:hover{
	background-color: #eed;
}
a{
	display: block;
	height: 100%;
	text-decoration: none;
	color: black;
}
#navbar h1{
	padding: 10px;
}
#navbar {
	border-right: 3px solid #666;
	position: fixed;
	top:0;
	left:0;
	width:300px;
	height:100%;
}
#main-doc {
	margin-left:300px;
}
.main-headers {
	font-size: 24px;
	padding-left: 40px;
}
.nav-header {
	font-size: 28px;
	padding: 10px 10px;
}
section {
	padding: 5px 40px;
	margin-bottom: 20px;
}
section:first-of-type {
	padding-top: 50px;
}
section:last-of-type {
	margin-bottom: -20px;
}
code {
	background-color: #eed;
	display: block;
	padding: 10px 0 10px 20px;
	width: 100%;
}
li {
	margin: 10px 0;
}
@media (max-width: 800px) {
	#navbar {
		position: relative;
		width:100%;
		margin-top: -20px;
	}
	#main-doc {
		position: relative;
		margin-left: 0;
		margin-top: 1px;
	}
}	